.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  margin-top: 0;
  background-color: white;
}
.logoimage {
  width: 155px;
}
.navmenu {
  display: flex;
}
.navitem1 {
  color: var(--colormenu);
  font-size: 16px;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
  flex-direction: row;
  text-transform: uppercase;
  list-style-type: none;
}
body {
  font-family: var(--fontall);
}
.mainbody {
  height: 100vh;
  color: var(--colorfont);
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--colorbackground);
  text-align: center;
}
.titlemain {
  display: block;
  font-size: 30px;
  font-weight: 700;
  transform: translate(0, 20%);
}
@media all and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
  }

  .titlemain {
    font-size: 40px;
  }
}
