.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--fontall);
  
}
.logoimage {
  width: 155px;

}
.navmenu {
  display: flex;
}
.navitem1 {
  color: var(--colormenu);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  flex-direction: row;
  text-transform: uppercase;
  list-style-type: none;
}
.mainbody {
  height: 100vh;
  color: var(--colorfont);
  font-family: var(--fontall);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--colorbackground);
  text-align: center;
  font-size: 30px;
}
.titlemain {
  display: block;
  transform: translate(0, 20%);
}
@media all and (min-width: 768px) {
  .header {
    margin: 30px;
  }
  .logoimage {
    justify-content: right;
  }
  .navmenu {
    justify-content: right;
  }
  .mainbody {
  }
}
